<div class="row qcreator" data-step="1" data-intro="If you need to create a quick yes/no question, Quick-Q creator is the answer! Just enter your question, select a due date, and done!">
  <%= form_for(@question, namespace: "quickq", remote:true ) do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="large-12 columns">
      <fieldset>
        <legend>Yes/No Quick-Q creator</legend>
        <div class="field large-8 columns">
           <%= f.label :content %><br>
           <%= f.text_field :content %>
        </div>

        <div class="field large-4 columns">
           <%= f.label :duedate %><br>
           <%= f.text_field :duedate, value: Date.today + 2.days  %>
        </div>


        <%= f.fields_for :answers do |ff| %>
            <%= ff.hidden_field :content, value: "Yes" %>
        <% end %>

        <%= f.fields_for :answers do |ff| %>
          <% ff.hidden_field :content, value: "No" %>
        <% end %>

          <div data-remote="true"> 
            <%= f.submit "Create question", class: "button small regular round" %>
          </div>

          <div data-remote="true">
            <%= f.submit "Create & tweet!", class: "button small regular round" %>
          </div>

      </fieldset>
    </div>
  <% end %>
</div>
