<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="button success round" id="button-show" data-step="5" data-intro="Want to create a question? Glad you asked! Click on this button to open the Question creator!">Create a question!</div>
    <i class="fa fa-question-circle right help" id="index-help"></i>

    <fieldset class="hidden" id="qcreator">
          <div class="large-9 columns">
            <%= render 'form_quickq' %>
          </div>

          <div class="large-3 columns">
            <%= render 'form_multiq' %>
          </div>
      </fieldset>
  </div>

  <div class="row">
    <fieldset>
    <h3 class="special" data-step="1" data-intro="Here is your dashboard. You can acess every question from here">Dashboard</h3><br>
    <div class="large-6 columns">
        <table id="created-quest" data-step="2" data-intro="These are questions you created. You can't answer you own questions but you can see results for them.">
          <thead>
            <tr>
              <th>Created question</th>
              <th>Votes</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @user_questions.each do |question| %>
              <tr id="<%= dom_id question %>">
                <td><%= link_to question.content, question %></td>
                <td><%= question.results.count %></td>
                <td><%= link_to question,
                            method: :delete,
                            data: { confirm: 'Are you sure you want to delete this question and its answers?' },
                            remote:true do %>
                     <i class='fa fa-times-circle'></i>
                     <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="large-6 columns">
        <table id="answered-questions" data-step="3" data-intro="Your answered questions, you can see your answer right here and check the results clicking on each question">
          <thead>
            <tr>
              <th>Answered question</th>
              <th>Your answer</th>
            </tr>
          </thead>

          <tbody>
            <% current_user.results.each do |result| %>
              <tr>
                <td><%= link_to result.answer.question.content, result.answer.question %></td>
                <td><%= result.answer.content %></td>
            <% end %>
          </tbody>
        </table>
      </div>
</div>
<div class="row">
      <div class="columns-8 large">
        <table id="questions-to-answer" data-step="4" data-intro="These are questions you can answer! These questions have been created by your friends.">
          <thead>
            <tr>
              <th>Unanswered question</th>
              <th>Created by</th>
              <th>Days left</th>
            </tr>
          </thead>

          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <% unless question.user == current_user || question.answered?(current_user) || question.duedate < Date.today %>
                  <td><%= link_to question.content, question %></td>
                  <td><%= question.user.name %></td>
                  <td><%= pluralize(question.days_left, "day") %></td>
                <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      </fieldset>
  </div>
</div>
