<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <fieldset>
        <h3 class='special'>Create a question!</h3>
          <div class="large-9 columns">
            <%= render 'form_quickq' %>
          </div>

          <div class="large-3 columns">
            <%= render 'form_multiq' %>
          </div>
      </fieldset>
  </div>

  <div class="row">
    <fieldset>
    <h3 class="special">Dashboard</h3><br>
    <div class="large-4 columns">
        <table id="created-quest">
          <thead>
            <tr>
              <th>Created question</th>
              <th>Votes</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% current_user.questions.each do |question| %>
              <tr id="<%= dom_id question %>">
                <td><%= link_to question.content, question %></td>
                <td><%= question.results.count %></td>
                <td><%= link_to question,
                            method: :delete,
                            data: { confirm: 'Are you sure you want to delete this question and its answers?' },
                            remote:true do %>
                     <i class='fa fa-times-circle'></i>
                     <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="large-2 columns">
        <table>
          <thead>
            <tr>
              <th>Answered question</th>
              <th>Your answer</th>
            </tr>
          </thead>

          <tbody>
            <% current_user.results.each do |result| %>
              <tr>
                <td><%= link_to result.answer.question.content, result.answer.question %></td>
                <td><%= result.answer.content %></td>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="columns-8 large">
        <table>
          <thead>
            <tr>
              <th>Unanswered question</th>
              <th>Created by</th>
              <th>Days left</th>
            </tr>
          </thead>

          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <% unless question.user == current_user || question.answered?(current_user) || question.duedate < Date.today %>
                  <td><%= link_to question.content, question %></td>
                  <td><%= question.user.name %></td>
                  <td><%= pluralize(question.days_left, "day") %></td>
                <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      </fieldset>
  </div>
</div>
